html, body {
	font-family: "Open Sans";
	font-weight: 300 !important;
}

h1, h2, h3, h4, h5, h6, .btn {
	font-weight: 300 !important;
}

#main-content {
	min-height: 85vh;
}

.navbar {
	margin-bottom: 0;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}

.section {
	padding: 40px 0 60px 0;
}

.gradient {
	color: #FFF;
	background: #695bbf;
	background: -moz-linear-gradient(45deg,  #695bbf 0%, #c631ab 100%);
	background: -webkit-linear-gradient(45deg,  #695bbf 0%,#c631ab 100%);
	background: linear-gradient(45deg,  #695bbf 0%,#c631ab 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#695bbf', endColorstr='#c631ab',GradientType=1 );
}

#masthead {
	min-height:40vh;
	position:relative;
	margin: 0;
	padding-top: 34px;
	padding-bottom: 42px;

	color: #FFF;
}

#title h1 {
	color: rgba(255, 255, 255, 1);
	font-size: 6.5em;
}

#title h2 {
	color: rgba(255, 255, 255, 0.8);
	font-size: 2.0em;
}

#title a {
	color: rgba(255, 255, 255, 0.6);
	font-size: 1.2em;
	text-decoration: none;
}

#links a {
	margin: 0 12px 0 12px;
	color: #555;
	font-size: 0.75em;
}

.site-footer {
	/*margin-top: 90px;*/
	background-color: #eee;
	color: #999;
	padding: 3em 0 0;
	font-size: 14.3px;
	position: relative;
}

.site-footer .footer-heading {
	color: #555;
}

.footer-copyright {
	margin-top: 2em;
	padding: 2em 2em;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	text-align: center;
}

.site-footer h5, .site-footer .h5 {
	font-size: 1.2em;
}

.container.jumbotron {
	background-color: transparent;
}


html, body, h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 300;
}

b {
    font-weight: 400;
}

.large-text {
    font-size: 1.6em;
}

.tab-content {
    padding: 15px;
}

.tab-content > .tab-pane {
    display: none;
}

.tab-content > .active {
    display: block;
}

.navbar {
    border-radius: 0;
}

.site-footer {
    background-color: #eee;
    color: #999;
    padding: 3em 0 0;
    font-size: 14.3px;
    position: relative;
}

.site-footer .footer-heading {
    color: #555;
}

.footer-copyright {
    margin-top: 2em;
    padding: 2em 2em;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
}

h5, .h5 {
    font-size: 1.2em;
}

#links a {
    margin: 0 12px 0 12px;
    color: #555;
    font-size: 0.75em;
}